@model Customer


@await Component.InvokeAsync("Confirm", new
{

    action = "ConfirmDelete",
    controller = "Customer",
    values = new { id = Model.Id },

    submitButtonTitle = "Yes Delete",
    message = "Are you sure you want to delete Customer: " + Model.FullName,
});


@*<p>
        Are you sure you want to delete Customer: @await Html.PartialAsync("_CustomerDisplayName", Model)
        <hr />
        @using (Html.BeginForm("ConfirmDelete", "Customer", new { id = Model.Id }))
        {
            <button type="submit" class="btn btn-danger">Yes Delete</button>
        }
    </p>*@